@keyframes buttonHover {
    from {background-color: rgb(90, 192, 255);}
    to {background-color: #208dd5;}
}

@keyframes darken {
    from {background-color: rgb(0, 255, 174);}
    to {background-color: rgb(0, 200, 137);}
}

#navbar {
    box-sizing: border-box;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    text-align: center;
    background-color: rgb(90, 192, 255);
    min-height: 100vh;
}

#navbar_content {
    box-sizing: border-box;
    position: sticky;
    top: 0;
    width: 100%;
}

#navbar img {
    box-sizing: border-box;
    display: inline-block;
    height: 10vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#navbar_profile {
    box-sizing: border-box;
    border-top: 2px solid white;
    padding-top: 2vh;
    padding-bottom: 2vh;
    color: rgb(0, 52, 85);
}

#navbar_profile #profile_box {
    width: 50%;
    background-color: rgb(255, 255, 255);
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin: auto;
}

#navbar_profile a {
    box-sizing: border-box;
    display: block;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 13px;
    color:rgb(0, 83, 134);
    text-decoration: none;
}

#navbar_profile #circle {
    display: block;
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    padding-top: 18px;;
    font-size: 24px;
    width: 13vh;
    height: 13vh;
    border-radius: 50%;
    border: 2px solid white;
    background-color: rgb(0, 255, 174);
    color: black;
}

#navbar_profile #circle:hover {
    animation: darken 0.3s;
    background-color: rgb(0, 200, 137);
}

#navbar_links {
    box-sizing: border-box;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

#navbar_links a{
    box-sizing: border-box;
    display: block;
    width: 100%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(90, 192, 255);
    padding-top: 2vh;
    padding-bottom: 2vh;
}

#navbar_links a:not(.active):hover {
    animation: buttonHover 0.3s;
    background-color: #208dd5;
}

#navbar_links a:not(.active):active {
    color: #c4e8ff;
}

#navbar_links a.active {
    background-color: #208dd5;
    color: #c4e8ff;
}