@keyframes buttonHover {
    from {background-color: rgb(90, 192, 255);}
    to {background-color: #208dd5;}
}

.main {
    box-sizing: border-box;
    margin: 0;
    background-color: rgb(148, 214, 255);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.layout_0 {
    display: grid;
    grid-template-columns: 5vw 14vw 74vw 7vw;
    grid-template-rows: auto 20vh;
}

.layout_1 {
    display: grid;
    grid-template-columns: 5vw 88vw 7vw;
    grid-template-rows: minmax(100vh, auto);
}