.profile{
    box-sizing: border-box;
    display: flex;
    margin: auto;
    margin-top: 5vh;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: white;
    width: 40%;
    height: 75%;
}

.circle{
    box-sizing: border-box;
    border-radius: 100%;
    background-color: aquamarine;
    height: 100px;
    width: 100px;
    align-self: center;
}

.button{
    box-sizing: border-box;
    background-color: #323943;
    color: white;
    padding: 5px;
    margin: 10px;
    align-self: center;
}

.button:hover{
    opacity: 50%;
}

.profile input {
    display: inline-block;
    margin: auto;
    width: 55%;
    margin-top: 1vh;
    margin-bottom: 1vh;
}